body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.card {
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  width: 200px;
  margin: 0 auto 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#pokemon-img #shiny-img {
  width: 120px;
  height: 120px;
}
